:root {
    --yellow: #F5D44E;
    --light-yellow: #f7d85c;
    --orange: #F5834E;
    --light-orange: #FFA252;
    --extra-light-orange: #FFCB52;
    --blue:#1A219C;
    --light-blue: #565DE8;
}
html {
    font-size: 62.5%;
    font-family:'Fira Code', monospace;
}
body {
    background-color: var(--light-yellow);
}
/* menu nav top*/
.menu-bar {
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    background-color: #000;
}
.menu-bar-link{
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--orange);
    transition: .4s;
}
.menu-bar-link:hover {
    transform: scale(2);
}
/* main container*/
.main {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.main-heading{
    margin: 15rem 0 5rem 0;
    font-size: 2.5rem;
    text-align: center;
}
/*links container*/
.main-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1.8rem;
    max-width: 100rem;
    width: 100%;
}
.main-container-link {
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 1.8rem;
    border: .3rem solid #000;
    width: 85%;
    background: linear-gradient(var(--extra-light-orange), var(--orange));
    transition: all .3s ease-in;
}
.main-container-link:hover {
    background: var(--orange);
    box-shadow: inset .1rem .1rem 1rem rgba(0, 0, 0, 0.2),
    inset -.2rem -.1rem 1rem rgba(0, 0, 0, 0.2);
}
.main-container-link:active {
    transform: scale(0.98);
}
/* Footer */
.footer {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: center;
    margin: 6rem 0;
    font-size: 2rem;
}
.footer-container-link {
    text-decoration: none;
    color: var(--blue);
}
.footer-container-link:hover {
    color: var(--blue);
    text-decoration: underline;
}